# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/

# Production
/build
dist

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python & SQLite
__pycache__/
venv/
instance/
*.db
*.sqlite
*.pyc

# IDEs & OS
.idea/
.vscode/
.DS_Store
*.pem
Thumbs.db
